/* styles.css */
.carousel {
    height: calc(100vh - 68.5px); /* Ocupar toda la altura de la ventana */
}

.carousel-inner img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho */
    height: 20em;
    object-fit: cover; /* Ajustar la imagen sin distorsión */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los controles */
}
